@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

body {
  background: url("https://images.unsplash.com/photo-1515165562835-c3b8e3f157cc")
    no-repeat center center fixed;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8); /*Fundo semi transparente*/
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff, 0 0 25 px #00f0ff; /*Borda brilhosa*/
  width: 350px;
  color: #fff;
}

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #00f0ff;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.form-group input::placeholder {
  color: #ccc;
}

.checkbox-group input {
  margin-right: 10px;
}

.form-container button {
  width: 100%;
  margin: 15px 0;
  padding: 12px;
  background: #00f0ff;
  border: none;
  color: black;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.form-container button:hover {
  background: #00b8cc;
}

/* Página de Listagem */

.lista-container {
  background-color: rgba(0, 0, 0, 0.8); /*Fundo semi transparente*/
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff, 0 0 25 px #00f0ff; /*Borda brilhosa*/
  width: 350px;
  color: #fff;
}

.dado {
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 4px solid #0ff;
  border-radius: 8px;
}

.dado p {
  margin: 5px 0;
}

.voltar {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #00f0ff;
  font-weight: bold;
}

.voltar:hover {
  text-decoration: underline;
}

/* Tela de confirmação de Inscrição */

.confirmacao-container {
  background-color: rgba(0, 0, 0, 0.8); /*Fundo semi transparente*/
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px #00f0ff, 0 0 25 px #00f0ff; /*Borda brilhosa*/
  width: 350px;
  color: #fff;
}

.confirmacao-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.confirmacao-container p {
  text-align: center;
  margin-bottom: 20px;
}

.confirmacao-container a {
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  color: #00f0ff;
  font-weight: bold;
}

.confirmacao-container a:hover {
  text-decoration: #00cccc;
}
